@import '../../../../../style/color-palette.scss';
@import '../../../../../style/typography.scss';
@import '../../../../../style/spacing.scss';

/* stylelint-disable-next-line selector-class-pattern */
@mixin GuxFormFieldLabelStyle {
  .gux-form-field-label {
    &.gux-required {
      &::after {
        font-size: 12px;
        color: var(--gux-alert-red-60);
        content: ' *';
      }
    }

    &.gux-beside {
      position: relative;
      top: 8px;
      width: fit-content;
      min-width: 45px;
      margin-right: var(--gux-spacing-xs);
    }

    &.gux-above {
      margin-bottom: var(--gux-spacing-xs);
    }

    &.gux-screenreader {
      @include gux-sr-only;
    }
  }
}
