/*
$gse-ui-modal-closeButtonColor Skipped (no need to specify close button styles in this ticket)
$gse-ui-modal-headerColor
$gse-ui-modal-backgroundColor: #ffffff; TODO
$gse-ui-modal-shroudColor: #23395d; TODO
$gse-ui-modal-header-gap
$gse-ui-modal-padding
$gse-ui-modal-gap
$gse-ui-modal-heading-fontFamily
$gse-ui-modal-heading-lineHeight
$gse-ui-modal-heading-fontSize
$gse-ui-modal-heading-fontWeight
$gse-ui-modal-heading-letterSpacing
$gse-ui-modal-icon Skipped (no need to specify close button styles in this ticket)
$gse-ui-modal-small-width
$gse-ui-modal-medium-width
$gse-ui-modal-large-width
$gse-ui-modal-buttonBar-gap Skip (Should the client app just specify the styles of the footer buttons since they'll have access to them?)
$gse-ui-modal-boxShadow-x
$gse-ui-modal-boxShadow-y
$gse-ui-modal-boxShadow-blur
$gse-ui-modal-boxShadow-spread
$gse-ui-modal-boxShadow-color
$gse-ui-modal-boxShadow-type
$gse-ui-modal-slot-padding: 2px 3px; TODO: Asked design team where this should be used
$gse-ui-modal-borderRadius
$gse-ui-modal-opacity: 80%; TODO
*/

@import '../../../style/typography.scss';
@import '../../../style/color.scss';
@import '../../../style/spacing.scss';
@import '../../../style/shadows.scss';
@import '../../../style/zindex.scss';

// Style
:host {
  .gux-modal {
    position: fixed;
    inset: 0;
    z-index: var(--gux-zindex-modal, $gux-zindex-modal);
    display: flex;
    align-items: center;
    justify-content: center;
    color: $gux-black-50;
    background: rgba(32, 41, 55, 0.8);
    // background: fade(var(--gse-ui-modal-shroudColor), var(--gse-ui-modal-opacity));

    .gux-modal-container {
      box-shadow: var(--gse-ui-modal-boxShadow-x)
        var(--gse-ui-modal-boxShadow-y) var(--gse-ui-modal-boxShadow-blur)
        var(--gse-ui-modal-boxShadow-spread) var(--gse-ui-modal-boxShadow-color);

      position: relative;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: var(--gse-ui-modal-padding);
      background: $gux-grey-100;
      border: 1px solid $gux-grey-30;
      border-radius: var(--gse-ui-modal-borderRadius);

      &.gux-small {
        width: var(--gse-ui-modal-small-width);
        max-height: min(368px, 100vh - 2 * #{$gux-spacing-large});
      }

      &.gux-medium {
        width: var(--gse-ui-modal-medium-width);
        max-height: min(640px, 100vh - 2 * #{$gux-spacing-large});
      }

      &.gux-large {
        width: var(--gse-ui-modal-large-width);
        max-height: min(640px, 100vh - 2 * #{$gux-spacing-large});
      }

      &.gux-dynamic {
        max-width: calc(100vw - 2 * $gux-spacing-large);
        max-height: calc(100vh - 2 * $gux-spacing-large);

        .gux-modal-content {
          max-height: none;
        }
      }

      .gux-modal-header {
        padding-bottom: var(--gse-ui-modal-gap);
        margin: 0;
        color: var(--gse-ui-modal-headerColor);
        line-height: var(--gse-ui-modal-heading-fontFamily);
        font-family: var(--gse-ui-modal-heading-fontFamily);
        font-size: var(--gse-ui-modal-heading-fontSize);
        font-weight: var(--gse-ui-modal-heading-fontWeight);
        letter-spacing: var(--gse-ui-modal-heading-letterSpacing);
        @include h1();
      }

      .gux-modal-content {
        max-height: 432px;
        margin-bottom: var(--gse-ui-modal-gap);
        overflow-y: auto;
        text-align: center;

        &.gux-no-buttons {
          margin-bottom: 0;
        }
      }

      .gux-button-footer {
        display: flex;
        justify-content: space-between;
      }
    }

    .gux-modal-container {
      @media (max-width: 416px) {
        &.gux-small,
        &.gux-medium,
        &.gux-large {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
